<section class="admin-dashboard">
  <header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>

  <div class="row stats">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="stat">
        <h2><%= Product.count %></h2>
        <p>Products</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="stat">
        <h2><%= Category.count %></h2>
        <p>Categories</p>
      </div>
    </div>
  </div>
</section>